nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-1);
  padding-inline: var(--size-4);
  padding-block: var(--size-3);
  border-bottom: 1px solid var(--gray-2);

  & > a {
    text-decoration: none;
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-4);
    color: var(--gray-9);
  }

  & ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--size-2);
    list-style: none;

    & li a {
      text-decoration: none;
      color: var(--gray-7);
      &:hover {
        color: var(--gray-9);
      }
    }

    & li a.is-active {
      color: var(--blue-7);
    }
  }
}
