<div>
  <nav>
    <a [routerLink]="['/']">Teslo shop</a>
    <ul>
      <li>
        <a [routerLink]="['gender/men']" [routerLinkActive]="['is-active']">
          Hombres
        </a>
      </li>
      <li>
        <a [routerLink]="['gender/women']" [routerLinkActive]="['is-active']">
          Mujeres
        </a>
      </li>
      <li>
        <a [routerLink]="['gender/kids']" [routerLinkActive]="['is-active']">
          Niños
        </a>
      </li>
    </ul>
    <div class="navbar-end">
      @if (authService.authStatus() === 'authenticated') {
      <span>{{ authService.user()?.fullName }}</span>
      <button (click)="authService.logout()">Salir</button>
      }
      <!--  -->
      @else if (authService.authStatus() === 'not-authenticated') {
      <a class="btn-link" [routerLink]="['/auth/login']">Ingresar</a>
      }
      <!--  -->
      @else {
      <button class="btn-loader">Cargando...</button>
      }
    </div>
  </nav>
</div>
