form {
  display: grid;
  gap: var(--size-3);

  & div input {
    width: 100%;
  }

  & button {
    background-color: var(--blue-7);
    color: white;
    font-weight: 600;
    padding: var(--size-2) var(--size-4);
    border-radius: var(--radius-2);
    border: none;
    transition: background-color 300ms ease;

    &:hover {
      background-color: var(--blue-6);
    }
  }

  & .alert {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--size-1);
    padding: var(--size-2);
    border-radius: var(--radius-2);
    background-color: var(--red-6);
    color: var(--gray-1);
  }

  & p {
    color: var(--gray-7);
    font-size: var(--font-size-0);
  }
}
