h1 {
  font-size: var(--font-size-5);
}
h2 {
  font-size: var(--font-size-4);
  margin-block-end: var(--size-5);
}

.product-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-5);
}

@media (width >= 480px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 768px) {
  .product-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
