@import "open-props/style";
@import "open-props/normalize";
@import "open-props/animations";
@import "@fontsource-variable/plus-jakarta-sans";

body {
  font-family: "Plus Jakarta Sans Variable", sans-serif;
}
