.layout--container {
  display: grid;
  place-items: center;
  height: 100dvh;
  background-color: var(--gray-2);

  & .layout--card {
    width: var(--size-fluid-10);
    padding: var(--size-5);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    background-color: white;

    & h1 {
      margin-block-end: var(--size-3);
      font-size: var(--font-size-4);
      color: var(--blue-7);
    }
  }
}
